<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>

<h1>Placement Management System</h1>

<h2>Dashboard</h2>

<hr>

<h3>Menu</h3>

<ul>


<li><a href="/students">Add Student</a></li>

<li><a href="/view_students">View Students</a></li>

<li><a href="/search_student">Search Student</a></li>

<li><a href="/companies">Add Company</a></li>

<li><a href="/view_companies">View Companies</a></li>

<li><a href="/companies">Company Management</a></li>

<li><a href="/student_drives">Placement Drives</a></li>

<li><a href="/view_applications">View Applications</a></li>

<li><a href="/reports">Reports</a></li>

<li><a href="/student_profile">My Profile</a></li>

<li><a href="/">Logout</a></li>

</ul>

<br><br>


<br><br>

</body>
</html>