<!DOCTYPE html>
<html>
<head>
    <title>Edit Company</title>
</head>
<body>

<h1>Edit Company</h1>

<form method="POST">

Company Name<br>
<input type="text" name="company_name" value="{{ company[1] }}"><br><br>

Job Role<br>
<input type="text" name="job_role" value="{{ company[2] }}"><br><br>

Package<br>
<input type="number" step="0.01" name="package" value="{{ company[3] }}"><br><br>

Minimum CGPA<br>
<input type="number" step="0.01" name="eligibility_cgpa" value="{{ company[4] }}"><br><br>

Location<br>
<input type="text" name="location" value="{{ company[5] }}"><br><br>

<button type="submit">Update Company</button>

</form>

<br>

<a href="/view_companies">Back</a>

</body>
</html>