<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
</head>
<body>

<h1>Edit Student</h1>

<form method="POST">

USN<br>
<input type="text" name="usn" value="{{ student[0] }}" readonly><br><br>

Name<br>
<input type="text" name="name" value="{{ student[1] }}"><br><br>

Department<br>
<input type="text" name="department" value="{{ student[2] }}"><br><br>

CGPA<br>
<input type="number" step="0.01" name="cgpa" value="{{ student[3] }}"><br><br>

Email<br>
<input type="email" name="email" value="{{ student[4] }}"><br><br>

Phone<br>
<input type="text" name="phone" value="{{ student[5] }}"><br><br>

<button type="submit">Update Student</button>

</form>

<br>

<a href="/view_students">Back</a>

</body>
</html>