<!DOCTYPE html>
<html>
<head>
    <title>Search Companies</title>
    <style>
        table{
            border-collapse:collapse;
            width:80%;
        }

        th,td{
            border:1px solid black;
            padding:10px;
            text-align:center;
        }

        th{
            background:#007BFF;
            color:white;
        }
    </style>
</head>
<body>

<h2>Search Companies</h2>

<form method="POST">
    <input
        type="text"
        name="keyword"
        placeholder="Enter Company Name"
        required>

    <button type="submit">Search</button>
</form>

<br>

<table>

<tr>
    <th>Company ID</th>
    <th>Company Name</th>
</tr>

{% for company in companies %}
<tr>
    <td>{{ company[0] }}</td>
    <td>{{ company[1] }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>