<!DOCTYPE html>
<html>
<head>
    <title>Search Students</title>

    <style>
        table{
            border-collapse:collapse;
            width:100%;
        }

        th,td{
            border:1px solid black;
            padding:10px;
            text-align:center;
        }

        th{
            background:#007BFF;
            color:white;
        }
    </style>

</head>
<body>

<h2>Search Students</h2>

<form method="POST">

    <input
        type="text"
        name="keyword"
        placeholder="Enter USN, Name or Department"
        required>

    <button type="submit">
        Search
    </button>

</form>

<br>

<table>

<tr>
    <th>USN</th>
    <th>Name</th>
    <th>Department</th>
    <th>CGPA</th>
    <th>Email</th>
    <th>Phone</th>
</tr>

{% for student in students %}

<tr>
    <td>{{ student[0] }}</td>
    <td>{{ student[1] }}</td>
    <td>{{ student[2] }}</td>
    <td>{{ student[3] }}</td>
    <td>{{ student[4] }}</td>
    <td>{{ student[5] }}</td>
</tr>

{% endfor %}

</table>

</body>
</html>