<!DOCTYPE html>
<html>
<head>
    <title>Available Drives</title>
</head>
<body>

<h1>Available Placement Drives</h1>

<table border="1" cellpadding="10">
<tr>
    <th>Drive ID</th>
    <th>Role</th>
    <th>Package</th>
    <th>CGPA</th>
    <th>Location</th>
    <th>Action</th>
    <th>Company</th>
</tr>

{% for drive in drives %}
<tr>
   <td>{{ drive[0] }}</td>   <!-- Drive ID -->
    <td>{{ drive[2] }}</td>   <!-- Role -->
    <td>{{ drive[3] }}</td>   <!-- Package -->
    <td>{{ drive[5] }}</td>   <!-- CGPA (change if needed) -->
    <td>{{ drive[4] }}</td>   <!-- Location -->

    <td>
        <a href="/view_company/{{ drive[4] }}">View Company</a>
    </td>

    <td>{{ drive[1] }}</td>
</tr>
{% endfor %}

</table>

<br>

<a href="/student_dashboard">Back to Dashboard</a>

</body>
</html>