<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>

<h2>Welcome {{ name }}</h2>
<p><strong>USN:</strong> {{ usn }}</p>

<hr>

<a href="/view_drives">
    <button>View Placement Drives</button>
</a>

<br><br>

<a href="/my_applications">
    <button>My Applications</button>
</a>

<br><br>

<a href="/upload_resume">
    <button>Upload Resume</button>
</a>

<br><br>

<a href="/student_profile">
    <button>My Profile</button>
</a>

<br><br>

<a href="/student_logout">
    <button>Logout</button>
</a>

</body>
</html>